header {
  background: red;
  display: flex;

  .logo-icon {
    background: yellow;
  }
}

.navigation {

  &__list {
    color: red;

    // .navigation__list__item
    &__item {

    }

    &:hover .box .link {
      color: black;
    }
  }

  &-item {
    color: blue;

    &__text {
      &--active {
        text-decoration: underline;
      }
      &--light {
        text-decoration: underline;
      }
    }
  }
}

.navigation__list:hover .box > .link {
  // v1
}




.navigation {

  &__list {
    color: red;

    
      &__text {
        color: black;

      }

  }

  
}

// header .logo {
//   width: 1000px;
// }



// 100 codes row


.navigation__list {
  //v2
}